<h1 class="text-3xl font-bold underline" >Factura #<%= @sale.id %></h1>
<div>
  <h2>Cliente</h2>
  <p><%= @sale.client.name %></p>
</div>
<div>
  <h2>
    Detalles de la venta
    <p>Fecha: <%= @sale.created_at %></p>
  </h2>
  <h2>Productos</h2>
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-center">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="text-sm font-medium text-white px-6 py-4"
                >
                  Nombre
                </th>
                <th
                  scope="col"
                  class="text-sm font-medium text-white px-6 py-4"
                >
                  Precio
                </th>
                <th
                  scope="col"
                  class="text-sm font-medium text-white px-6 py-4"
                >
                  Cantidad
                </th>
              </tr>
            </thead>
            <tbody>
              <% @sale.sales_details.each do |sale_detail| %>
              <tr class="bg-white border-b">
                <td
                  class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                >
                  <%= sale_detail.product.name %>
                </td>
                <td
                  class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                >
                  <%= sale_detail.product.price %>
                </td>
                <td
                  class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                >
                  <%= sale_detail.quantity %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <p>Total: <%= @sale.total %></p>
</div>
